public net.minecraft.client.Minecraft fileResourcepacks # Example mcp name AT entry

public net.minecraft.entity.Entity setRotation(FF)V # setRotation

# arrow related stuff
public net.minecraft.entity.projectile.EntityArrow inTile # inTile
public net.minecraft.entity.projectile.EntityArrow inData # inData
public net.minecraft.entity.projectile.EntityArrow xTile # xTile
public net.minecraft.entity.projectile.EntityArrow yTile # yTile
public net.minecraft.entity.projectile.EntityArrow zTile # zTile

public net.minecraft.client.renderer.entity.RenderManager renderPosX # renderPosX
public net.minecraft.client.renderer.entity.RenderManager renderPosY # renderPosY
public net.minecraft.client.renderer.entity.RenderManager renderPosZ # renderPosZ

public net.minecraft.client.renderer.RenderItem textureManager # textureManager

public net.minecraft.client.renderer.RenderItem setupGuiTransform(IIZ)V # setupGuiTransform

public net.minecraft.client.renderer.RenderItem renderEffect(Lnet/minecraft/client/renderer/block/model/IBakedModel;)V # renderEffect

public net.minecraft.client.renderer.ItemRenderer itemStackMainHand # itemStackMainHand
public net.minecraft.client.renderer.ItemRenderer itemStackOffHand # itemStackOffHand

public net.minecraft.client.renderer.RenderItem renderModel(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel

# multipart hitboxes need to be resolvable by CPacketUseEntity on both logical sides
public net.minecraft.world.World entitiesById # entitiesById
